version: '3.9'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '5173:5173'
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NODE_ENV=development
    volumes:
      - .:/app
      # keep container node_modules; prevents host override
      - /app/node_modules
